.searchForm {
    font-size: 12px;
    margin: 10px;
    padding: 10px;
    border: 1px solid salmon;
    text-align: left;
}

.searchinput {
    width: 160px;
    margin-right: 5px;
}

.searchFormRows {
    margin: 10px;
}

.mymenu {
    text-align: center;
    margin-top: 10px;

}

.mymenu .two {
    float: left;
    margin-top: 2%;
    line-height: 20px;
    width: 50%;
    height: 14%;
}

/*label,宽度百分之30左浮动,摆正最多可以输入6个字'*/
.mymenu label {
    display: inline-block;
    float: left;
    width: 30%;
    font-size:12px;
}
